#searchBar {
  margin: 15px 10px;
}

.tableWrapper {
  max-height: 400px;
  overflow: auto;
}

.input-group{
	position: absolute;
	left: 600px;
	top: 0px;
}

.jumbotron{
	position: absolute;
	left: 600px;
	top:100px;
}